@import "utils";

.video-viewer {
  // grid-column: 1 / 3;
  // grid-row: 1 / 2;
  width: calc((100% - 1.75rem) / 1.5);
  margin: 0 auto;

  @include media("<=1024px") {
    width: 100%;
  }
  .video-wrapper {
    position: relative;
    &:before {
      content: "";
      display: block;
      padding-top: 56.25%;
    }

    .video {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      .video-player {
        min-height: 100%;
        width: 100%;
        height: 100%;
      }
    }
  }
}
