@import "utils";

.tools-wrapper {
  position: relative;
  margin-bottom: 90px;
  .inner {
    width: 100%;
    overflow: hidden;
    .flex {
      display: flex;
      flex-wrap: wrap;
      position: static;
      padding-left: 1.75rem;
    }
  }
}
