@import "utils";

.header {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0px;
  width: 100%;
  .inner {
    background: white;
    display: flex;
    justify-content: center;
    height: auto;
    .wrapper {
      width: 1200px;
      height: 55px;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-right: 1rem;
      padding-left: 1rem;

      @include media("<=1200px") {
        width: 992px;
      }
      @include media("<=768px") {
        width: 100%;
      }

      .logo {
        font-size: 1.4rem;
        letter-spacing: 2px;
        color: $oc-red-7;
        font-family: "Rajdhani";
      }
      .spacer {
        flex-grow: 1;
      }
    }
  }

  .gradient-border {
    height: 1px;
    border-bottom: 1px solid $oc-gray-4;
  }
}
