@import "utils";

.convert-tool {
  width: calc((100% - 1.75rem) / 3);
  min-height: 1px;
  border-bottom: 1px solid $oc-gray-2;
  @include media("<=wide") {
    width: calc(33% - 1.75rem);
  }
  @include media("<=medium") {
    width: calc(100% - 1.75rem);
  }
  &.boder {
    border-right: 1px solid $oc-gray-2;
    @include media("<=medium") {
      border-right: none;
    }
  }
  &.boder2 {
    border-bottom: none;
    @include media("<=medium") {
      border-bottom: 1px solid $oc-gray-2;
    }
  }
  &:hover {
    background: $oc-gray-2;
    .card .card-content .inner b {
      color: $oc-red-8;
      font-size: 1.25rem;
    }
    .card .card-content .inner svg {
      color: $oc-red-8;
      font-size: 4.5rem;
    }
    .card .card-content .inner span {
      color: $oc-red-8;
      font-size: 1.1rem;
    }
  }
  .card {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    height: 100%;
    min-width: 0;
    border-radius: 0;
    align-self: stretch;
    position: relative;
    padding: 0;
    border: none;
    color: $oc-gray-6;
    text-align: center;
    .card-content {
      padding: 50px 20px 56px;
      transition: all 0.15s ease-in-out;
      .inner {
        display: block;
        font-size: 22px;
        line-height: 28px;
        color: #333;
        text-decoration: none;
        transition: opacity 0.15s ease-in-out, color 0.15s ease-in-out,
          background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
        ::before {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
        }
        svg {
          color: $oc-gray-8;
          shape-rendering: geometricPrecision;
          transform-origin: 50% 50%;
          transition: opacity 0.15s ease-in-out;
          overflow: visible !important;
          vertical-align: top;
          fill: currentColor;
          font-size: 3rem;
        }
        b {
          display: block;
          padding: 17px 0 6px;
          font-weight: 600;
          letter-spacing: -0.3px;
        }
        span {
          display: block;
          color: #333;
          font-size: 14px;
          line-height: 24px;
        }
      }
    }
  }
}
