@import 'utils';

.landing-template {
  display: block;
  margin-top: 57px;
  min-height: 100vh;
  box-sizing: inherit;
  .carousel {
    min-height: 350.28px;
    width: auto;
    height: auto;
    position: relative;
    box-sizing: inherit;
  }
}