@import "utils";

.user-menu {
  @keyframes effect {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  .rotated-square {
    z-index: 0;
    position: absolute;
    width: 1rem;
    height: 1rem;
    background: #fff;
    transform: rotate(45deg);
    right: 16px;
    top: -8px;
  }
  display: block;
  background: #fff;
  border: 1px solid #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  color: #000;
  position: absolute;
  right: 0;
  top: 54px;
  animation: effect 0.2s;
  border-radius: 2px;
  outline: none;
  margin-top: 0.7rem;
  transform: translateZ(0);
  text-align: left;
  line-height: normal;
  right: 10px;
  .menu-content {
    margin: 20px;
    white-space: nowrap;
    .thumbnail-wrapper {
      display: inline-block;
      vertical-align: top;
      margin-right: 20px;
      position: relative;
      cursor: pointer;
      border-radius: 50%;
      overflow: hidden;
      img {
        border: none;
        vertical-align: top;
        height: 96px;
        width: 96px;
      }
      span {
        background: rgba(0, 0, 0, 0.54);
        bottom: 0;
        color: #fff;
        font-size: 9px;
        font-weight: bold;
        left: 0;
        line-height: 9px;
        position: absolute;
        padding: 7px 0;
        text-align: center;
        width: 96px;
      }
    }

    .info-wrapper {
      display: inline-block;
      vertical-align: top;
      .username {
        font-weight: bold;
        margin: -4px 0 1px 0;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .email {
        margin-top: 0.45rem;
        color: #666;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .info {
        color: #ccc;
        margin: 6px 0;
        span {
          font-size: 0.85rem;
          color: #36c;
          margin-left: 0;
        }
      }
    }
  }

  .footer-wrapper {
    background: #f5f5f5;
    border-top: 1px solid #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    .unregister {
      display: table-cell;
      text-align: left;
      .btn {
        display: inline-block;
        line-height: 28px;
        padding: 0 12px;
        cursor: pointer;
        border-radius: 2px;
        color: #666;
        text-decoration: none;
        margin: 0 20px;
        white-space: nowrap;
        background: #f8f8f8;
        border: 1px solid #c6c6c6;
        &:hover {
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        }
      }
    }

    .logout {
      white-space: nowrap;
      line-height: normal;
      .btn {
        display: inline-block;
        line-height: 28px;
        padding: 0 12px;
        border-radius: 2px;
        color: #666;
        cursor: pointer;
        text-decoration: none;
        margin: 0 0 0 100px;
        white-space: nowrap;
        background: #f8f8f8;
        border: 1px solid #c6c6c6;
        &:hover {
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}
