@import 'utils';

.common.responsive {
  width: 1600px;
  width: 100%;
  display: flex;
  height: auto;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;

  @include media("<wide") {
    width: 1024px;
  }
  @include media("<x-large") {
      width: 992px;
  }

  @include media("<large") {
      width: 700px;
  }

  @include media("<medium") {
    width: 380px;
  }      

  @include media("<small") {
    width: 100%;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}