@import "utils";

.convert-info {
  width: 100%;
  margin-bottom: 20px;
  .info-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-top: 0;
    .info-item {
      flex: 1 1 auto;
      text-align: center;
      position: relative;
      display: list-item;
      box-sizing: border-box;
      .text {
        color: #263238;
        border-bottom: 2px solid transparent;
        font-size: 0.9rem;
        font-weight: 600;
        justify-content: center !important;
        align-items: center !important;
        display: flex !important;
      }
    }
  }
}
