@import "utils";

.video-meta {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  .video-wrapper {
    color: #707070;
    font-size: 16px;
    .left {
      float: left;
      h3 {
        font-weight: 600;
        color: $oc-gray-7;
      }
    }

    .right {
      padding: 10px 10px 10px 10px;
      padding-right: 0px;
      float: right;
      .btn + .btn {
        margin-left: 0.5rem;
      }
    }
  }
}
